%div.border.border-top-0
  .dropdown-item.d-flex.align-items-center
    .mr-3
      .icon-circle.bg-primary
        %i.fas.fa-file-alt.text-white
    %div.break-line
      %strong= notification&.event

