.dropdown.nav-item
  %a.dropdown-toggle.nav-link{"data-toggle" => "dropdown", :href => "#"}
    %span#open_notification
      = render "admin/notifications/counter",counter: Notification.where(:opened_at => nil).size
  %ul.dropdown-menu.dropdown-list.dropdown-menu.dropdown-menu-right.shadow.pd-0
    .dropdown-header.text-center THÔNG BÁO
    #notificationList.dropdown-body.d-flex.flex-column
      = render notifications, notifications: notifications
    .dropdown-footer= link_to "Xem tất cả", admin_notifications_path
