<div class="card shadow mb-4" style="z-index: 0;">
  <div class="card-header py-3 text-center">
    <div class="px-0 pt-4 pb-0 mt-3 mb-3">
      <h2><strong>Quy trình tiêm</strong></h2>
      <p>Điền thông tin theo các bước</p>
      <div class="row">
        <div class="col-md-12 mx-0">
          <form id="msform">
            <!-- progressbar -->
            <ul id="progressbar">
              <li class="active" id="account"><strong>Khám trước tiêm</strong></li>
              <li id="personal"><strong>Tiêm</strong></li>
              <li id="payment"><strong>Thanh toán hóa đơn</strong></li>
              <li id="personal"><strong>Phản ứng sau tiêm</strong></li>
              <li id="confirm"><strong>Kết thúc</strong></li>
            </ul> <!-- fieldsets -->
            <%= render "page_one" %>
            <fieldset>
              <button type="button" name="previous" class="previous action-button-previous">Quay lại</button>
              <button type="button" name="next" class="next action-button">Tiếp theo</button>
            </fieldset>
            <fieldset>
              <button type="button" name="previous" class="previous action-button-previous">Quay lại</button>
              <button type="button" name="next" class="next action-button">Tiếp theo</button>
            </fieldset>
            <fieldset>
              <button type="button" name="previous" class="previous action-button-previous">Quay lại</button>
              <button type="button" name="make_payment" class="next action-button">Tiếp theo</button>
            </fieldset>
            <fieldset>
              <div class="form-card">
                <h2 class="fs-title text-center">Tiêm thành công!</h2> <br><br>
                <div class="row justify-content-center">
                  <div class="col-3"> <img src="https://img.icons8.com/color/96/000000/ok--v2.png" class="fit-image"> </div>
                </div> <br><br>
                <div class="row justify-content-center">
                  <div class="col-7 text-center">
                    <h5>Kết thúc!</h5>
                    <button type="button" name="make_payment" class="next action-button">Trang chủ</button>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
