.pb-custom {
  padding-bottom: 30px !important;
}

.required:after {
  content:" *";
  color: red;
}

.bg-login {
  background-color: #303a46;
}

#error_explanation {
  color: red;
}

#error_explanation ul {
  color: red;
  margin: 0 0 30px 0;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.alert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.alert-primary .alert-link {
  color: #002752;
}

.alert-secondary {
  color: #383d41;
  background-color: #e2e3e5;
  border-color: #d6d8db;
}

.alert-secondary .alert-link {
  color: #202326;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-success .alert-link {
  color: #0b2e13;
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.alert-info .alert-link {
  color: #062c33;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert-warning .alert-link {
  color: #533f03;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-danger .alert-link {
  color: #491217;
}
.sb-sidenav-menu {
  overflow-y: hidden !important;
}
.select2-container {
  width: 100% !important;
  padding: 0;
}
.width-100 {
  width: 125px;

.badge-counter {
  position: absolute;
  transform: scale(.7);
  transform-origin: top right;
  right: 0.25rem;
  margin-top: -0.25rem;
  font-size: 100% !important;
  padding: 0.25em 0.6em !important;
}

.dropdown-list .dropdown-header {
  background-color: #4e73df;
  border: 1px solid #4e73df;
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #fff;
  text-transform: uppercase !important;
}

.pd-0 {
  padding: 0px !important;
  width: 300px !important;
}

.text-white {
  color: #fff !important;
}

.icon-circle {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-gray-500 {
  color: #b7b9cc!important;
}

.break-line {
  word-break: break-all;
  white-space: normal;
}

.dropdown-body {
  max-height: 300px;
  overflow: auto;
}
