<div class="row">
  <div class="col-xl-12 col-lg-12">
    <div class="card shadow mb-4">
      <div class="card-header py-3 text-center">
        <h6 class="m-0 font-weight-bold text-primary text-uppercase">
          <%= t(".injection_schedule") %>
        </h6>
      </div>
      <div class="card-body">
        <div class=" div_detail_post tbcnangs">
<table class="table table-hover">
<tbody>
<tr>
<td class="border" class="border" style="color: #ffffff; text-align: center; width: 411px;" colspan="16" bgcolor="#304095"><strong>LỊCH TIÊM CHỦNG CHO TRẺ TỪ 0-8 TUỔI</strong></td>
</tr>
<tr>
<td class="border" style="color: #ffffff; text-align: left; width: 91px;" rowspan="2" bgcolor="#525aa3">Tuổi/Vaccine</td>
<td class="border" style="color: #ffffff; width: 29px;" bgcolor="#525aa3"></td>
<td class="border" style="color: #ffffff; text-align: center; width: 202px;" colspan="10" bgcolor="#525aa3">Tháng</td>
<td class="border" style="color: #ffffff; text-align: center; width: 89px;" colspan="4" bgcolor="#525aa3">Tuổi</td>
</tr>
<tr>
<td class="border" style="color: #ffffff; width: 29px;" bgcolor="#525aa3">Sơ sinh</td>
<td class="border" style="color: #ffffff; width: 20px;" bgcolor="#525aa3">2</td>
<td class="border" style="color: #ffffff; width: 20px;" bgcolor="#525aa3">3</td>
<td class="border" style="color: #ffffff; width: 20px;" bgcolor="#525aa3">4</td>
<td class="border" style="color: #ffffff; width: 20px;" bgcolor="#525aa3">6</td>
<td class="border" style="color: #ffffff; width: 20px;" bgcolor="#525aa3">7</td>
<td class="border" style="color: #ffffff; width: 20.2px;" bgcolor="#525aa3">8</td>
<td class="border" style="color: #ffffff; width: 19.8px;" bgcolor="#525aa3">9</td>
<td class="border" style="color: #ffffff; width: 22px;" bgcolor="#525aa3">10 -11</td>
<td class="border" style="color: #ffffff; width: 20px;" bgcolor="#525aa3">12</td>
<td class="border" style="color: #ffffff; width: 20px;" bgcolor="#525aa3">18</td>
<td class="border" style="color: #ffffff; width: 20px;" bgcolor="#525aa3">2</td>
<td class="border" style="color: #ffffff; width: 23px;" bgcolor="#525aa3">3-4</td>
<td class="border" style="color: #ffffff; width: 23px;" bgcolor="#525aa3">5-6</td>
<td class="border" style="color: #ffffff; width: 23px;" bgcolor="#525aa3">7-8</td>
</tr>
<tr>
<td class="border" style="text-align: left; width: 91px;">Lao</td>
<td class="border" style="text-align: center; width: 29px;">x</td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20.2px;"></td>
<td class="border" style="width: 19.8px;"></td>
<td class="border" style="width: 22px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 23px;"></td>
<td class="border" style="width: 23px;"></td>
<td class="border" style="width: 23px;"></td>
</tr>
<tr>
<td class="border" style="text-align: left; width: 91px;">Viêm gan B</td>
<td class="border" style="text-align: center; width: 29px;">x</td>
<td class="border" style="text-align: center; width: 20px;">x</td>
<td class="border" style="text-align: center; width: 20px;">x</td>
<td class="border" style="text-align: center; width: 20px;">x</td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20.2px;"></td>
<td class="border" style="width: 19.8px;"></td>
<td class="border" style="width: 22px;"></td>
<td class="border" style="text-align: center; width: 20px;"></td>
<td class="border" style="text-align: center; width: 20px;">x</td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 23px;"></td>
<td class="border" style="width: 23px;"></td>
<td class="border" style="width: 23px;">x</td>
</tr>
<tr>
<td class="border" style="text-align: left; width: 91px;">Bạch hầu, ho gà, uốn ván</td>
<td class="border" style="width: 29px;"></td>
<td class="border" style="text-align: center; width: 20px;">x</td>
<td class="border" style="text-align: center; width: 20px;">x</td>
<td class="border" style="text-align: center; width: 20px;">x</td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20.2px;"></td>
<td class="border" style="width: 19.8px;"></td>
<td class="border" style="width: 22px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="text-align: center; width: 20px;">x</td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 23px;"></td>
<td class="border" style="width: 23px;">x</td>
<td class="border" style="width: 23px;"></td>
</tr>
<tr>
<td class="border" style="text-align: left; width: 91px;">Bại liệt</td>
<td class="border" style="width: 29px;"></td>
<td class="border" style="text-align: center; width: 20px;">x</td>
<td class="border" style="text-align: center; width: 20px;">x</td>
<td class="border" style="text-align: center; width: 20px;">x</td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20.2px;"></td>
<td class="border" style="width: 19.8px;"></td>
<td class="border" style="width: 22px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="text-align: center; width: 20px;">x</td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 23px;"></td>
<td class="border" style="width: 23px;"></td>
<td class="border" style="width: 23px;"></td>
</tr>
<tr>
<td class="border" style="text-align: left; width: 91px;">Viêm phổi, viêm màng não mủ do Hib</td>
<td class="border" style="width: 29px;"></td>
<td class="border" style="text-align: center; width: 20px;">x</td>
<td class="border" style="text-align: center; width: 20px;">x</td>
<td class="border" style="text-align: center; width: 20px;">x</td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20.2px;"></td>
<td class="border" style="width: 19.8px;"></td>
<td class="border" style="width: 22px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="text-align: center; width: 20px;">x</td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 23px;"></td>
<td class="border" style="width: 23px;"></td>
<td class="border" style="width: 23px;"></td>
</tr>
<tr>
<td class="border" style="text-align: left; width: 91px;">Tiêu chảy do Rota Virus</td>
<td class="border" style="width: 29px;"></td>
<td class="border" style="width: 80px;" colspan="4">Phác đồ 2 hoặc 3 liều, mỗi liều cách nhau tối thiểu 1 tháng</td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20.2px;"></td>
<td class="border" style="width: 19.8px;"></td>
<td class="border" style="width: 22px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 23px;"></td>
<td class="border" style="width: 23px;"></td>
<td class="border" style="width: 23px;"></td>
</tr>
<tr>
<td class="border" style="text-align: left; width: 91px;">Viêm phổi, viêm màng não, viêm tai giữa do phế cầu khuẩn</td>
<td class="border" style="width: 29px;"></td>
<td class="border" style="text-align: center; width: 20px;">x</td>
<td class="border" style="text-align: center; width: 20px;">x</td>
<td class="border" style="text-align: center; width: 20px;">x</td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="text-align: center; width: 20px;"></td>
<td class="border" style="text-align: center; width: 20.2px;"></td>
<td class="border" style="width: 19.8px;"></td>
<td class="border" style="width: 22px;">x</td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 23px;"></td>
<td class="border" style="width: 23px;"></td>
<td class="border" style="width: 23px;"></td>
</tr>
<tr>
<td class="border" style="text-align: left; width: 91px;">Viêm màng não, nhiễm khuẩn huyết, viêm phổi do não mô cầu khuẩn B,C</td>
<td class="border" style="width: 29px;"></td>
<td class="border" style="text-align: center; width: 20px;"></td>
<td class="border" style="text-align: center; width: 20px;"></td>
<td class="border" style="text-align: center; width: 20px;"></td>
<td class="border" style="width: 20px;">x</td>
<td class="border" style="text-align: center; width: 20px;"></td>
<td class="border" style="text-align: center; width: 20.2px;">x</td>
<td class="border" style="width: 19.8px;"></td>
<td class="border" style="width: 22px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 23px;"></td>
<td class="border" style="width: 23px;"></td>
<td class="border" style="width: 23px;"></td>
</tr>
<tr>
<td class="border" style="text-align: left; width: 91px;">Cúm</td>
<td class="border" style="width: 29px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 231px;" colspan="11">Phác đồ tiêm 2 liều cách nhau tối thiểu một tháng cho lần tiêm đầu tiên.<br>
Tiêm nhắc lại 1 liều mỗi năm.</td>
</tr>
<tr>
<td class="border" style="text-align: left; width: 91px;">Sởi</td>
<td class="border" style="text-align: center; width: 29px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20.2px;"></td>
<td class="border" style="width: 19.8px; text-align: center;">&nbsp;x</td>
<td class="border"></td>
<td class="border"></td>
<td class="border">x</td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="text-align: center; width: 46px;"></td>
<td class="border" style="text-align: center; width: 46px;"></td>
<td class="border" style="width: 23px;"></td>
</tr>
<tr>
<td class="border" style="text-align: left; width: 91px;">Viêm màng não, nhiễm khuẩn huyết, viêm phổi do não mô cầu khuẩn A,C,W,Y</td>
<td class="border" style="text-align: center; width: 29px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="text-align: center; width: 20px;"></td>
<td class="border" style="text-align: center; width: 20.2px;"></td>
<td class="border" style="width: 19.8px;">x</td>
<td class="border" style="width: 22px;"></td>
<td class="border" style="width: 20px;">x</td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 23px;"></td>
<td class="border" style="width: 23px;"></td>
<td class="border" style="width: 23px;"></td>
</tr>
<tr>
<td class="border" style="text-align: left; width: 91px;">Viêm não Nhật Bản</td>
<td class="border" style="width: 29px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20.2px;"></td>
<td class="border" style="text-align: left; width: 170.8px;" colspan="8">– Phác đồ 2 liều tiêm cách nhau 1 năm<br>
– Hoặc phác đồ 3 liều tiêm và nhắc lại mỗi 3 năm một liều đến 15 tuổi</td>
</tr>
<tr>
<td class="border" style="text-align: left; width: 91px;">Sởi, quai bị, Rubella</td>
<td class="border" style="width: 29px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="text-align: center; width: 20px;"></td>
<td class="border" style="text-align: center; width: 20.2px;"></td>
<td class="border" style="text-align: center; width: 19.8px;"></td>
<td class="border" style="width: 22px;"></td>
<td class="border" style="width: 22px; text-align: center;">&nbsp;x</td>
<td class="border" style="width: 22px;"></td>
<td class="border" style="width: 22px;"></td>
<td class="border" style="width: 20px; text-align: center;" colspan="2">&nbsp;x</td>
<td class="border" style="width: 23px;"></td>
</tr>
<tr>
<td class="border" style="text-align: left; width: 91px;">Thủy đậu</td>
<td class="border" style="width: 29px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20.2px;"></td>
<td class="border" style="width: 19.8px;"></td>
<td class="border" style="width: 22px;"></td>
<td class="border" style="width: 129px;" colspan="6">Phác đồ 2 liều tiêm cách nhau tối thiểu 3 tháng</td>
</tr>
<tr>
<td class="border" style="text-align: left; width: 91px;">Viêm gan A</td>
<td class="border" style="width: 29px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20.2px;"></td>
<td class="border" style="width: 19.8px;"></td>
<td class="border" style="width: 22px;"></td>
<td class="border" style="width: 129px;" colspan="6">Phác đồ 2 liều tiêm cách nhau tối thiểu 6 tháng</td>
</tr>
<tr>
<td class="border" style="text-align: left; width: 91px;">Viêm gan A + B</td>
<td class="border" style="width: 29px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20.2px;"></td>
<td class="border" style="width: 19.8px;"></td>
<td class="border" style="width: 22px;"></td>
<td class="border" style="width: 129px;" colspan="6">Phác đồ 2 liều tiêm cách nhau tối thiểu 6-12 tháng</td>
</tr>
<tr>
<td class="border" style="text-align: left; width: 91px;">Thương hàn</td>
<td class="border" style="width: 29px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20.2px;"></td>
<td class="border" style="width: 19.8px;"></td>
<td class="border" style="width: 22px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 89px;" colspan="4">1 liều và nhắc lại mỗi 3 năm</td>
</tr>
<tr>
<td class="border" style="text-align: left; width: 91px;">Bệnh tả</td>
<td class="border" style="text-align: center; width: 29px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20.2px;"></td>
<td class="border" style="width: 19.8px;"></td>
<td class="border" style="width: 22px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 20px;"></td>
<td class="border" style="width: 89px;" colspan="4"><span style="font-weight: 400;">2 liều cách nhau tối thiểu 2 tuần</span></td>
</tr>
</tbody>
</table>
<div id="section2"></div>
<div class=" div_detail_post tbcnangs"></div>
</div>
<div class=" div_detail_post tbcnangs">
<table class="table table-hover">
<tbody>
<tr>
<br>
<hr>
<br>
<td class="border" style="color: #ffffff; text-align: center;" colspan="9" bgcolor="#304095"><strong>LỊCH TIÊM CHỦNG CHO TUỔI VỊ THÀNH NIÊN VÀ NGƯỜI LỚN</strong></td>
</tr>
<tr>
<td class="border" style="color: #ffffff; text-align: left; width: 91px;" bgcolor="#525aa3">Tuổi/Vaccine</td>
<td class="border" style="color: #ffffff; width: 30px;" bgcolor="#525aa3">9-11 tuổi</td>
<td class="border" style="color: #ffffff; width: 41px;" bgcolor="#525aa3">12-15 tuổi</td>
<td class="border" style="color: #ffffff; width: 41px;" bgcolor="#525aa3">16-18 tuổi</td>
<td class="border" style="color: #ffffff; width: 41px;" bgcolor="#525aa3">19-26 tuổi</td>
<td class="border" style="color: #ffffff; width: 41px;" bgcolor="#525aa3">27-45 tuổi</td>
<td class="border" style="color: #ffffff; width: 41px;" bgcolor="#525aa3">46-55 tuổi</td>
<td class="border" style="color: #ffffff; width: 41px;" bgcolor="#525aa3">56-64 tuổi</td>
<td class="border" style="color: #ffffff; width: 41px;" bgcolor="#525aa3">&gt;= 65 tuổi</td>
</tr>
<tr>
<td class="border" style="text-align: left; width: 91px;">Cúm</td>
<td class="border" style="width: 30px; text-align: left;" colspan="8">Tiêm 1 liều và tiêm nhắc lại mỗi năm 1 lần</td>
</tr>
<tr>
<td class="border" style="text-align: left; width: 91px;">Viêm phổi do phế cầu khuẩn</td>
<td class="border" style="width: 30px; text-align: left;" colspan="8">Tiêm 1 liều duy nhất.</td>
</tr>
<tr>
<td class="border" style="text-align: left; width: 91px;">Sởi – Quai bị – Rubella</td>
<td class="border" style="width: 30px; text-align: left;" colspan="8">Tiêm 2 liều cách nhau tối thiểu 1 tháng. Phụ nữ hoàn tất lịch tiêm trước khi mang thai tối thiểu 3 tháng.</td>
</tr>
<tr>
<td class="border" style="text-align: left; width: 91px;">Thuỷ đậu</td>
<td class="border" style="width: 30px; text-align: left;" colspan="8">Tiêm 2 liều cách nhau tối thiểu 1 tháng. Phụ nữ hoàn tất lịch tiêm trước khi mang thai tối thiểu 3 tháng.</td>
</tr>
<tr>
<td class="border" style="text-align: left; width: 91px;">Uốn ván</td>
<td class="border" style="width: 30px; text-align: left;" colspan="5">Phụ nữ trong độ tuổi sinh đẻ:<br>
– Liều 1: Tiêm càng sớm càng tốt khi có thai lần đầu<br>
– Liều 2: cách liều đầu tiên 1 tháng<br>
– Liều 3: cách liều 2 tối thiểu 6 tháng hoặc trong thời kỳ có thai sau</td>
<td class="border" style="width: 30px; text-align: left;" colspan="3">Tiêm 3 liều.<p></p>
<p>– Liều 1: Lần tiêm đầu tiên</p>
<p>– Liều 2: cách liều 1 tối thiểu 1 tháng</p>
<p>– Liều 3: Cách liều 2 từ 6-12 tháng</p></td>
</tr>
<tr>
<td class="border" style="text-align: left; width: 91px;">Bạch hầu – Uốn ván – Ho gà</td>
<td class="border" style="width: 30px; text-align: left;" colspan="8">Tiêm 1 liều và nhắc lại mỗi 10 năm</td>
</tr>
<tr>
<td class="border" style="text-align: left; width: 91px;">Viêm não Nhật Bản</td>
<td class="border" style="width: 30px; text-align: left;" colspan="3">Chưa từng tiêm vắc xin VNNB trước đó: Tiêm 2 liều cách nhau 1 năm.</td>
<td class="border" style="width: 41px; text-align: left;" colspan="5">Tiêm 1 liều duy nhất</td>
</tr>
<tr>
<td class="border" style="text-align: left; width: 91px;">Viêm màng não, nhiễm khuẩn huyết, viêm phổi do não mô cầu khuẩn A,C,Y,W</td>
<td class="border" style="width: 30px; text-align: left;" colspan="6">Tiêm 1 liều duy nhất</td>
<td class="border" style="text-align: center; width: 41px;"></td>
<td class="border" style="text-align: center; width: 41px;"></td>
</tr>
<tr>
<td class="border" style="text-align: left; width: 91px;">Viêm màng não, nhiễm khuẩn huyết, viêm phổi do não mô cầu khuẩn B, C</td>
<td class="border" style="width: 30px; text-align: left;" colspan="5">Tiêm 2 liều:<p></p>
<p>– Liều 1: Lần tiêm đầu tiên</p>
<p>– Liều 2: Cách liều đầu tiên 2 tháng</p></td>
<td class="border" style="width: 30px; text-align: left;"></td>
<td class="border" style="width: 30px; text-align: left;"></td>
<td class="border" style="width: 30px; text-align: left;"></td>
</tr>
<tr>
<td class="border" style="text-align: left; width: 91px;">Viêm gan A</td>
<td class="border" style="width: 30px; text-align: left;" colspan="8">Tiêm 2 liều, cách nhau từ 6-12 tháng</td>
</tr>
<tr>
<td class="border" style="text-align: left; width: 91px;">Viêm gan B</td>
<td class="border" style="width: 30px; text-align: left;" colspan="8">Tiêm 3 liều:<p></p>
<p>– Liều 1: Lần tiêm đầu tiên</p>
<p>– Liều 2: Cách liều đầu tiên 1 tháng</p>
<p>– Liều 3: Cách liều đầu tiên 6 tháng</p>
<p>Tiêm nhắc lại sau 5 năm.</p></td>
</tr>
<tr>
<td class="border" style="text-align: left; width: 91px;">Viêm gan A + B</td>
<td class="border" style="width: 30px; text-align: left;" colspan="2">Tiêm 2 liều, cách nhau từ 6-12 tháng</td>
<td class="border" style="width: 41px; text-align: left;" colspan="6">Tiêm 3 liều:<p></p>
<p>– Liều 1: Lần tiêm đầu tiên</p>
<p>– Liều 2: Cách liều đầu tiên 1 tháng</p>
<p>– Liều 3: Cách liều thứ 2 tối thiểu 5 tháng</p></td>
</tr>
<tr>
<td class="border" style="text-align: left; width: 91px;">Bệnh lây lan qua đường tình dục và ung thư cổ tử cung do HPV</td>
<td class="border" style="width: 30px; text-align: left;" colspan="5">Tiêm 3 liều:<p></p>
<p>– Liều 1: Lần tiêm đầu tiên</p>
<p>– Liều 2: Cách liều đầu tiên 1-2 tháng</p>
<p>– Liều 3: Cách liều đầu tiên 6 tháng</p></td>
<td class="border" style="width: 41px;"></td>
<td class="border" style="width: 41px;"></td>
<td class="border" style="width: 41px;"></td>
</tr>
<tr>
<td class="border" style="text-align: left; width: 91px;">Tả</td>
<td class="border" style="width: 30px; text-align: left;" colspan="8">Uống 2 liều cách nhau tối thiểu 2 tuần. Uống nhắc lại khi có dịch.</td>
</tr>
<tr>
<td class="border" style="text-align: left; width: 91px;">Thương hàn</td>
<td class="border" style="width: 30px; text-align: left;" colspan="8">Tiêm 1 liều và nhắc lại mỗi 3 năm khi có dịch</td>
</tr>
<tr>
<td class="border" style="text-align: left; width: 91px;">Dại</td>
<td class="border" style="width: 30px; text-align: left;" colspan="8">Phác đồ dự phòng cho những đối tượng nguy cơ cao gồm 3 liều.</td>
</tr>
<tr>
<td class="border" style="text-align: left; width: 91px;">Sốt vàng</td>
<td class="border" style="width: 30px; text-align: left;" colspan="7">Tiêm 1 liều khi đi du lịch đến những vùng có nguy cơ cao</td>
<td class="border" style="width: 30px;"></td>
</tr>
</tbody>
</table>
</div>

      </div>
    </div>
  </div>
</div>
