<div class="form-card">
  <h2 class="fs-title text-center">Đã hủy tiêm!</h2> <br><br>
  <div class="row justify-content-center">
    <div class="col-3">
      <img src="https://rdo.org/Assets/Images/News/113.jpg" class="fit-image">
    </div>
  </div> <br><br>
  <div class="row justify-content-center">
    <div class="col-7 text-center">
      <h5>Kết thúc!</h5>
      <%= link_to "Trang chủ", user_root_path, class: "next action-button", type: "button" %><br>
      <!-- Hẹn lịch tiêm mới -->
      <%#= link_to " Tại đây", new_user_injection_schedule_path, class: "next action-button", type: "button" %>
    </div>
  </div>
</div>
