<div class="card shadow mb-4" style="z-index: 0;">
  <div class="card-header py-3 text-center">
    <div class="px-0 pt-4 pb-0 mt-3 mb-3">
      <h2><strong>Quy trình tiêm</strong></h2>
      <p>Điền thông tin theo các bước</p>
      <div class="row">
        <div class="col-md-12 mx-0">
          <form id="msform">
            <ul id="progressbar">
              <li class="active" id="account"><strong>Khám trước tiêm</strong></li>
              <li class="active" id="personal"><strong>Tiêm</strong></li>
              <li id="payment"><strong>Thanh toán hóa đơn</strong></li>
              <li id="personal"><strong>Phản ứng sau tiêm</strong></li>
              <li id="confirm"><strong>Kết thúc</strong></li>
            </ul>
            <fieldset>
              <%= link_to 'Hủy', "#", class: "previous action-button-previous", type: "button", name: "previous" %>
              <%= link_to 'Tiếp theo', "#", class: "next action-button", type: "button", name: "next" %>
            </fieldset>
          </form>
        </div>
    </div>
  </div>
</div>
