<div class="form-card" style="color: black">
  <br>
  <div class="container">
    <div class="text-center">
      <h5 class="fs-title text-center"><strong>THÔNG TIN PHẢN ỨNG SAU TIÊM CHỦNG ĐỐI VỚI TRẺ EM</strong></h5>
      <hr>
    </div>
    <div class="row">
      <div class="col-xl-12 col-lg-12">
        <div class="form-group">
          <div class="row">
            <div class="col-md-12">
              Thời gian kết thúc theo dõi: <%= detail_injection_book.time_after_injection.strftime("%Hh : %Mm %p, %d - %m - %Y ")%>
            </div>
            <div class="col-md-12 inputGroupContainer">
              <div class="input-group">
                <%= form.text_area :react_after_injection, placeholder: t(".react_after_injection"), size: "20x8", class: "form-control bg-light border-1" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="text-center mt-5">
  <%#= form.submit 'Hủy', class: "previous action-button-previous btn btn-danger", name: "save_draft", data: { confirm: t(".confirm.are_you_sure") } if @detail_injection_book.second_step? %>
  <%#= form.submit 'Quay lại', class: "previous action-button-previous btn btn-warning", name: "back_button" unless @detail_injection_book.second_step? || @detail_injection_book.last_step? %>
  <%= form.submit 'Tiếp theo', class: "btn btn-success", data: { confirm: t("confirm.are_you_sure") }  unless @detail_injection_book.last_step? || @detail_injection_book.cancel?  %>
</div>