<div class="form-card">
  <h2 class="fs-title text-center">Tiêm thành công!</h2> <br><br>
  <div class="row justify-content-center">
    <div class="col-3">
      <img src="https://img.icons8.com/color/96/000000/ok--v2.png" class="fit-image">
    </div>
  </div> <br><br>
  <div class="row justify-content-center">
    <div class="col-7 text-center">
      <h5>Kết thúc!</h5>
      <%= link_to "Trang chủ", user_root_path, class: "next action-button", type: "button" %>
    </div>
  </div>
</div>
