<div class="card shadow mb-4" style="z-index: 0;">
  <div class="card-header py-3 text-center">
    <div class="px-0 pt-4 pb-0 mt-3 mb-3">
      <h2><strong>Quy trình tiêm</strong></h2>
      <p>Điền thông tin theo các bước</p>
      <div class="row">
        <div class="col-md-12 mx-0">
          <form id="msform">
            <ul id="progressbar">
              <li class="active" id="account"><strong>Khám trước tiêm</strong></li>
              <li class="active" id="personal"><strong>Tiêm</strong></li>
              <li class="active" id="payment"><strong>Thanh toán hóa đơn</strong></li>
              <li class="active" id="personal"><strong>Phản ứng sau tiêm</strong></li>
              <li class="active" id="confirm"><strong>Kết thúc</strong></li>
            </ul>
            <fieldset>
              <div class="form-card">
                <h2 class="fs-title text-center">Tiêm thành công!</h2> <br><br>
                <div class="row justify-content-center">
                  <div class="col-3"> <img src="https://img.icons8.com/color/96/000000/ok--v2.png" class="fit-image"> </div>
                </div> <br><br>
                <div class="row justify-content-center">
                  <div class="col-7 text-center">
                    <h5>Kết thúc!</h5>
                    <%= link_to "Trang chủ", "#", class: "next action-button", type: "button" %>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
    </div>
  </div>
</div>
