<div class="container">
  <div class="service-row row">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 pad-left0 slide_2 item div_video pull-right">
      <img width="100%" height="336" src="https://vnvc.vn/video.jpg">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 box_none item noright text-white">
      <div class="box_gioithieu">
        <p style="text-align: justify;"><strong style="font-size: 20px; border-bottom: 1px solid rgb(255, 255, 255); display: block; --darkreader-inline-border-bottom:#2f3234;" data-darkreader-inline-border-bottom="">GIỚI THIỆU</strong>
        </p>
        <p style="text-align: justify;">Hệ thống tiêm chủng VNVC (thuộc Công ty Cổ phần Vacxin Việt Nam) chính thức đi vào hoạt động từ tháng 6 năm 2017. Trong bối cảnh thế giới đang phải đương đầu với tình trạng biến đổi phức tạp của các chủng vi khuẩn gây bệnh cũng như sự thiếu hụt vắc xin tại Việt Nam như hiện nay, Hệ thống tiêm chủng VNVC ra đời nhằm cung cấp cho trẻ em Việt Nam những loại vắc xin có chất lượng tốt nhất cùng với hệ thống phòng tiêm chủng an toàn, hiện đại và cao cấp.</p>
        <p style="text-align: justify;">Với những mục tiêu đó, Công ty VNVC đã xây dựng dây chuyền bảo quản lạnh (Cold chain) đạt tiêu chuẩn GSP …</p>
        <p><a class="cmd_more" href="https://vnvc.vn/gioi-thieu/">Xem thêm</a></p>
        <div style="display: none;">
        <p style="text-align: justify;">được luôn được bảo quản tốt nhất.Công ty đã ban hành các quy trình thao tác chuẩn (SOP) cho từng bộ phận, toàn bộ nhân viên đều được đào tạo để nắm vững và tuân thủ khi làm việc. Tại hệ thống phòng tiêm của VNVC, chúng tôi luôn mong muốn đem lại sự thuận tiện, sự thoải mái và sự yên tâm nhất cho khách hàng. Ở mỗi phòng tiêm đều trang bị các thiết bị bảo quản vắc xin hiện đại, đạt tiêu chuẩn, được nhập khẩu từ các nước tiên tiến như Đức, Nhật Bản… Đôi ngũ bác sĩ khám sàng lọc và tư vấn cùng với đội ngũ nhân viên y tế được đào tạo chuyên biệt về tiêm chủng. Phòng tiêm với đầy đủ các trang thiết bị y tế theo quy chuẩn. Không gian phòng chờ trước tiêm và sau tiêm rộng rãi, thoáng mát, đầy màu sắc cuốn hút, tạo sự thân thiện với trẻ. Hãy đến và cảm nhận sự thoải mái, tiện nghi mà chúng tôi dành cho quý khách.<br>
        Mỗi quý khách hàng khi đến tiêm chủng tại hệ thống phòng tiêm của VNVC đều được cung cấp một code định danh. Mọi thông tin cá nhân của quý khách được lưu giữ bảo mật và không cần khai báo lại khi đến tiêm chủng lần kế tiếp tại phòng tiêm. Quý khách có thể tự tra cứu lịch sử tiêm chủng của mình cũng như được tiêm chủng trên toàn hệ thống phòng tiêm của công ty. Với hệ thống phần mềm hiện đại và đội ngũ chăm sóc khách hàng chuyên nghiệp của VNVC, quý khách sẽ được nhắc lịch trước ngày tiêm tùy vào gói vắc xin mà quý khách đã đăng ký.<br>
        Với sứ mệnh “ Bảo vệ con yêu khỏi vi khuẩn” chúng tôi luôn sẵn sàng đồng hành cùng với bố mẹ để đem đến cho con yêu một khởi đầu khỏe mạnh, đẩy lùi bệnh tật và phát triển toàn diện trong tương lai.</p>
      </div>
    </div>
  </div><!--row-->
</div>
