<div class="our-services container-fluid">
  <div class="container">
    <h2>GIỚI THIỆU</h2>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="gt-info">
          <h3 class="h3-title">
            <span style="color: rgb(42, 56, 143); font-size: 24px; --darkreader-inline-color:#6a85aa;" data-darkreader-inline-color="">VỀ CÔNG TY CỔ PHẦN VACXIN&nbsp;QUỐC TẾ<br>
            </span>
          </h3>
          <p></p><center><img class="alignnone size-full wp-image-2318" src="https://vnvc.vn/wp-content/uploads/2016/07/gthieu-vnvc.jpg" alt="" width="685" height="auto" srcset="https://vnvc.vn/wp-content/uploads/2016/07/gthieu-vnvc.jpg 1024w, https://vnvc.vn/wp-content/uploads/2016/07/gthieu-vnvc-300x200.jpg 300w, https://vnvc.vn/wp-content/uploads/2016/07/gthieu-vnvc-768x512.jpg 768w" sizes="(max-width: 1024px) 100vw, 1024px"></center><p></p>
          <p style="text-align: justify;">Trong bối cảnh dịch bệnh có nhiều biến đổi phức tạp, vấn đề tiêm chủng vắc xin còn gặp nhiều khó khăn về điều kiện cơ sở vật chất, dịch vụ… tháng 6/2017, Công ty Cổ phần Vắc xin Việt Nam được thành lập với mong muốn chung sức với các đơn vị của ngành y tế dự phòng cung cấp cho người dân dịch vụ tiêm chủng vắc xin an toàn, hiện đại và dịch vụ cao cấp.</p>
          <p style="text-align: justify;">Ngay trong tháng 6/2017, Trung tâm tiêm chủng đầu tiên thuộc Hệ thống tiêm chủng VNVC được khai trương tại địa chỉ 180 Trường Chinh, Q. Đống Đa, Hà Nội. Trung tâm có dây chuyền bảo quản lạnh (Cold chain) đạt tiêu chuẩn GSP với hệ thống kho lạnh hiện đại, đảm bảo nhiệt độ bảo quản từ 2-8 độ C. Kho lạnh được trang bị đầy đủ các thiết bị theo dõi nhiệt độ tự động hiện đại, hệ thống cảnh báo kịp thời khi nhiệt độ vượt ra khỏi ngưỡng cho phép, kênh tiếp nhận thông tin cảnh báo đa dạng, đảm bảo các loại vắc xin luôn được bảo quản một cách tốt nhất.</p>
          <p style="text-align: justify;">Tại hệ thống phòng tiêm VNVC, chúng tôi luôn mong muốn đem lại sự thuận tiện, thoải mái và yên tâm cho khách hàng. Khách hàng sẽ được Bác sĩ chuyên khoa kiểm tra sức khỏe và tư vấn các mũi tiêm phù hợp với lứa tuổi. Đội ngũ điều dưỡng được đào tạo chuyên biệt về tiêm chủng cùng với sự chu đáo và nhiệt tình chăm sóc trẻ. Phòng tiêm với đầy đủ các trang thiết bị y tế đạt chuẩn cao cấp. Không gian phòng chờ trước tiêm và sau tiêm rộng rãi, thoáng mát, đầy màu sắc cuốn hút, tạo sự thân thiện với trẻ. Ngoài ra mẹ và bé còn có khu vực riêng cho con bú, phòng thay tã, phòng pantry …để con được thoải mái như đang ở nhà.</p>
          <p style="text-align: justify;">Mỗi khách hàng khi đến tiêm chủng tại VNVC đều được cung cấp một mã số định danh (Code). Code khách hàng này được áp dụng tại các Trung tâm tiêm chủng thuộc Hệ thống tiêm chủng VNVC. Mọi thông tin cá nhân của khách hàng được lưu giữ bảo mật và không cần khai báo lại khi đến tiêm chủng các lần kế tiếp tại phòng tiêm.</p>
          <p style="text-align: justify;">Khách hàng cũng có thể tự tra cứu lịch sử tiêm chủng của mình cũng như có thể đặt lịch tiêm qua website <a href="https://vnvc.vn" target="_blank" rel="noopener noreferrer">www.vnvc.vn</a>. Với hệ thống phần mềm hiện đại và đội ngũ chăm sóc khách hàng chuyên nghiệp của VNVC, khách hàng sẽ được nhắc lịch trước ngày tiêm tùy vào gói vắc xin mà quý khách đã đăng ký.</p>
          <p style="text-align: justify;">Với sự khác biệt về chất lượng tiêm chủng và dịch vụ, sau 5 tháng hoạt động, VNVC Hà Nội đã nhận được sự ủng hộ nhiệt tình từ khách hàng.</p>
          <p style="text-align: justify;">Tiếp nối thành công của VNVC Hà Nội, ngày 6/12/2017, VNVC khai trương trung tâm tiêm chủng thứ 2 tại 198 Hoàng Văn Thụ, Q. Phú Nhuận, TP. HCM. Sự xuất hiện của Trung tâm tiêm chủng VNVC tại TP. HCM sẽ góp phần khắc phục tình trạng quá tải tại các cơ sở tiêm chủng trên địa bàn thành phố, đồng thời mang tới cho người dân cơ hội trải nghiệm dịch vụ tiêm chủng cao cấp về cơ sở vật chất, trang thiết bị, quản lý chất lượng, dịch vụ chăm sóc khách hàng, đặc biệt là yên tâm về chất lượng vắc xin.</p>
          <p style="text-align: justify;">Trong tương lai, VNVC dự kiến triển khai thêm nhiều trung tâm tiêm chủng tại Việt Nam.</p>
          <p>&nbsp;</p>
        </div>
      </div>
    </div>
  </div>
</div>
