<div class="our-services container-fluid">
  <div class="container">
    <h2>BẢNG GIÁ</h2>
    <hr>
    <div class="service-row">
      <div class="content">
        <p><img class="alignnone wp-image-7136 size-full" src="https://vnvc.vn/wp-content/uploads/2017/03/vnvc-bang-gia-1-1.jpg" alt="" width="100%" height="314" srcset="https://vnvc.vn/wp-content/uploads/2017/03/vnvc-bang-gia-1-1.jpg 1024w, https://vnvc.vn/wp-content/uploads/2017/03/vnvc-bang-gia-1-1-300x92.jpg 300w, https://vnvc.vn/wp-content/uploads/2017/03/vnvc-bang-gia-1-1-768x236.jpg 768w" sizes="(max-width: 100%)"></p>
        <table class="table table-hover">
          <tbody>
          <tr style="height: 72px;">
          <td style="text-align: center; height: 72px;"><strong>STT</strong></td>
          <td style="text-align: center; height: 72px;"><strong>Phòng bệnh</strong></td>
          <td style="text-align: center; color: rgb(13, 102, 163); height: 72px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color=""><strong>Tên vắc xin</strong></td>
          <td style="text-align: center; color: rgb(13, 102, 163); height: 72px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color=""><strong>Nước sản xuất</strong></td>
          <td style="color: rgb(255, 255, 255); text-align: center; height: 72px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color=""><strong>Giá bán lẻ (vnđ)</strong></td>
          <td style="color: rgb(255, 255, 255); text-align: center; height: 72px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color=""><strong>Giá mua đặt giữ<br>
          vắc xin theo yêu cầu<br>
          (vnđ)</strong></td>
          </tr>
          <tr style="height: 48px;">
          <td style="text-align: center; height: 48px;">1</td>
          <td style="text-align: left; height: 48px;">Bạch hầu, ho gà, uốn ván, bại liệt và Hib</td>
          <td style="color: rgb(13, 102, 163); height: 48px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Pentaxim (5 in 1)</td>
          <td style="color: rgb(13, 102, 163); height: 48px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Pháp</td>
          <td style="color: rgb(255, 255, 255); height: 48px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">785.000</td>
          <td style="color: rgb(255, 255, 255); height: 48px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">942.000</td>
          </tr>
          <tr style="height: 24px;">
          <td style="text-align: center; height: 48px;" rowspan="2">2</td>
          <td style="text-align: left; height: 48px;" rowspan="2">Bạch hầu, ho gà, uốn ván, bại liệt, Hib và viêm gan B</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Infanrix Hexa</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Bỉ</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">1.015.000</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">1.218.000</td>
          </tr>
          <tr style="height: 24px;">
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Hexaxim</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Pháp</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">1.015.000</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">1.218.000</td>
          </tr>
          <tr style="height: 24px;">
          <td style="text-align: center; height: 72px;" rowspan="3">3</td>
          <td style="text-align: left; height: 72px;" rowspan="3">Rota virus</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Rotateq</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Mỹ</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">665.000</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">798.000</td>
          </tr>
          <tr style="height: 24px;">
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Rotarix</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Bỉ</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">825.000</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">990.000</td>
          </tr>
          <tr style="height: 24px;">
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Rotavin</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Việt Nam</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">490.000</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">588.000</td>
          </tr>
          <tr style="height: 24px;">
          <td style="text-align: center; height: 48px;" rowspan="2">4</td>
          <td style="text-align: left; height: 48px;" rowspan="2">Các bệnh do phế cầu</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Synflorix</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Bỉ</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">1.045.000</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">1.254.000</td>
          </tr>
          <tr style="height: 24px;">
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Prevenar 13</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Anh</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">1.290.000</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">1.548.000</td>
          </tr>
          <tr style="height: 24px;">
          <td style="text-align: center; height: 24px;">5</td>
          <td style="text-align: left; height: 24px;">Lao</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">BCG</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Việt Nam</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">125.000</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">150.000</td>
          </tr>
          <tr style="height: 24px;">
          <td style="text-align: center; height: 48px;" rowspan="2">6</td>
          <td style="text-align: left; height: 48px;" rowspan="2">Viêm gan B người lớn</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Engerix B 1ml</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Bỉ</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">235.000</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">282.000</td>
          </tr>
          <tr style="height: 24px;">
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Euvax B 1ml</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Hàn Quốc</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">170.000</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">204.000</td>
          </tr>
          <tr style="height: 24px;">
          <td style="text-align: center; height: 72px;" rowspan="3">7</td>
          <td style="text-align: left; height: 72px;" rowspan="3">Viêm gan B trẻ em</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Euvax B 0.5ml</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Hàn Quốc</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">116.000</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">140.000</td>
          </tr>
          <tr style="height: 24px;">
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Hepavax Gene 0.5ml</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Hàn Quốc</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">145.000</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">174.000</td>
          </tr>
          <tr style="height: 24px;">
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Engerix B 0,5ml</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Bỉ</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">190.000</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">228.000</td>
          </tr>
          <tr style="height: 24px;">
          <td style="text-align: center; height: 24px;">8</td>
          <td style="text-align: left; height: 24px;">Viêm màng não mô cầu BC</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Mengoc BC</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Cu Ba</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">295.000</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">354.000</td>
          </tr>
          <tr style="height: 24px;">
          <td style="text-align: center; height: 24px;">9</td>
          <td style="text-align: left; height: 24px;">Viêm màng não mô cầu ACYW</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Menactra</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Mỹ</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">1.260.000</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">1.512.000</td>
          </tr>
          <tr style="height: 24px;">
          <td style="text-align: center; height: 48px;" rowspan="2">10</td>
          <td style="text-align: left; height: 48px;" rowspan="2">Sởi</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">MVVac (Lọ 5ml)</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Việt Nam</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">315.000</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">378.000</td>
          </tr>
          <tr style="height: 24px;">
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">MVVac (Liều 0.5ml)</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Việt Nam</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">180.000</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">216.000</td>
          </tr>
          <tr style="height: 24px;">
          <td style="text-align: center; height: 48px;" rowspan="2">11</td>
          <td style="text-align: left; height: 48px;" rowspan="2">Sởi – Quai bị – Rubella</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">MMR II (3 in 1)</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Mỹ</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">305.000</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">366.000</td>
          </tr>
          <tr style="height: 24px;">
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">MMR (3 in 1)</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Ấn Độ</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">198.000</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">238.000</td>
          </tr>
          <tr style="height: 24px;">
          <td style="text-align: center; height: 48px;" rowspan="2">12</td>
          <td style="text-align: left; height: 48px;" rowspan="2">Thủy đậu</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Varivax</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Mỹ</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">860.000</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">1.032.000</td>
          </tr>
          <tr style="height: 24px;">
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Varicella</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Hàn Quốc</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">700.000</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">840.000</td>
          </tr>
          <tr style="height: 24px;">
          <td style="text-align: center; height: 24px;">13</td>
          <td style="text-align: left; height: 24px;">Cúm (trẻ em &lt;3 tuổi)</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Vaxigrip 0.25ml</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Pháp</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">305.000</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">366.000</td>
          </tr>
          <tr style="height: 24px;">
          <td style="height: 94px; text-align: center;" rowspan="3">14</td>
          <td style="text-align: left; height: 94px;" rowspan="3">Cúm (trẻ em &gt;3 tuổi)</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Influvac 0.5ml</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Hà Lan</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">348.000</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">418.000</td>
          </tr>
          <tr style="height: 35px;">
          <td style="color: rgb(13, 102, 163); height: 35px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">GC Flu 0,5ml</td>
          <td style="color: rgb(13, 102, 163); height: 35px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Hàn Quốc</td>
          <td style="color: rgb(255, 255, 255); height: 35px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">240.000</td>
          <td style="color: rgb(255, 255, 255); height: 35px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">288.000</td>
          </tr>
          <tr style="height: 35px;">
          <td style="color: rgb(13, 102, 163); height: 35px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Vaxigrip 0.5ml</td>
          <td style="color: rgb(13, 102, 163); height: 35px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Pháp</td>
          <td style="color: rgb(255, 255, 255); height: 35px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">355.000</td>
          <td style="color: rgb(255, 255, 255); height: 35px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">426.000</td>
          </tr>
          <tr style="height: 72px;">
          <td style="text-align: center; height: 72px;">15</td>
          <td style="text-align: left; height: 72px;">Cúm (người lớn &gt; 18 tuổi)</td>
          <td style="color: rgb(13, 102, 163); height: 72px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Ivacflu-S 0,5ml</td>
          <td style="color: rgb(13, 102, 163); height: 72px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Việt Nam</td>
          <td style="color: rgb(255, 255, 255); height: 72px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">190.000</td>
          <td style="color: rgb(255, 255, 255); height: 72px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">228.000</td>
          </tr>
          <tr style="height: 72px;">
          <td style="text-align: center; height: 72px;">16</td>
          <td style="text-align: left; height: 72px;">Ung thư cổ tử cung và u nhú bộ phận sinh dục, sùi mào gà</td>
          <td style="color: rgb(13, 102, 163); height: 72px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Gardasil 0.5ml</td>
          <td style="color: rgb(13, 102, 163); height: 72px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Mỹ</td>
          <td style="color: rgb(255, 255, 255); height: 72px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">1.790.000</td>
          <td style="color: rgb(255, 255, 255); height: 72px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">2.148.000</td>
          </tr>
          <tr style="height: 24px;">
          <td style="text-align: center; height: 24px;">17</td>
          <td style="text-align: left; height: 24px;">Ung thư cổ tử cung</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Cervarix</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Bỉ</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">950.000</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">1.140.000</td>
          </tr>
          <tr style="height: 24px;">
          <td style="text-align: center; height: 72px;" rowspan="2">18</td>
          <td style="text-align: left; height: 72px;" rowspan="2">Phòng uốn ván</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">VAT</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Việt Nam</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">115.000</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">138.000</td>
          </tr>
          <tr style="height: 48px;">
          <td style="color: rgb(13, 102, 163); height: 48px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">SAT (huyết thanh kháng độc tố uốn ván)</td>
          <td style="color: rgb(13, 102, 163); height: 48px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Việt Nam</td>
          <td style="color: rgb(255, 255, 255); height: 48px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">100.000</td>
          <td style="color: rgb(255, 255, 255); height: 48px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">120.000</td>
          </tr>
          <tr style="height: 24px;">
          <td style="text-align: center; height: 48px;" rowspan="2">19</td>
          <td style="text-align: left; height: 48px;" rowspan="2">Viêm não Nhật Bản</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Imojev</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Thái Lan</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">665.000</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">798.000</td>
          </tr>
          <tr style="height: 24px;">
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Jevax 1ml</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Việt Nam</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">170.000</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">204.000</td>
          </tr>
          <tr style="height: 24px;">
          <td style="text-align: center; height: 72px;" rowspan="3">20</td>
          <td style="text-align: left; height: 72px;" rowspan="3">Vắc xin phòng dại</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Verorab 0,5ml (TB, TTD)</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Pháp</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">290.000</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">348.000</td>
          </tr>
          <tr style="height: 24px;">
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Abhayrab 0,5ml (TB)</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Ấn Độ</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">255.000</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">306.000</td>
          </tr>
          <tr style="height: 24px;">
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Abhayrab 0,2ml (TTD)</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Ấn Độ</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">215.000</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">258.000</td>
          </tr>
          <tr style="height: 24px;">
          <td style="text-align: center; height: 48px;" rowspan="2">21</td>
          <td style="text-align: left; height: 48px;" rowspan="2">Bạch hầu – Uốn ván – Ho gà</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Adacel</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Canada</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">620.000</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">744.000</td>
          </tr>
          <tr style="height: 24px;">
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Boostrix</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Bỉ</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">735.000</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">882.000</td>
          </tr>
          <tr style="height: 24px;">
          <td style="text-align: center; height: 24px;">22</td>
          <td style="text-align: left; height: 24px;">Bạch hầu – Ho gà – Uốn ván – Bại liệt</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Tetraxim</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Pháp</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">458.000</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">550.000</td>
          </tr>
          <tr style="height: 24px;">
          <td style="text-align: center; height: 48px;" rowspan="3">23</td>
          <td style="text-align: left; height: 48px;" rowspan="3">Bạch hầu –&nbsp;Uốn ván</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Uốn ván, bạch hầu hấp phụ (Td)-Lọ 0,5ml</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Việt Nam</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">125.000</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">150.000</td>
          </tr>
          <tr style="height: 24px;">
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Uốn ván, bạch hầu hấp phụ (Td)-Liều 0,5 ml</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Việt Nam</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">95.000</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">114.000</td>
          </tr>
          <tr style="height: 24px;">
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Uốn ván, bạch hầu hấp phụ (Td)-Lọ 5ml</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Việt Nam</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">580.000</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">696.000</td>
          </tr>
          <tr style="height: 24px;">
          <td style="text-align: center; height: 24px;">24</td>
          <td style="text-align: left; height: 24px;">Viêm gan B và Viêm gan A</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Twinrix</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Bỉ</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">560.000</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">672.000</td>
          </tr>
          <tr style="height: 24px;">
          <td style="text-align: center; height: 48px;" rowspan="2">25</td>
          <td style="text-align: left; height: 48px;" rowspan="2">Viêm gan A</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Havax 0,5ml</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Việt Nam</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">235.000</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">282.000</td>
          </tr>
          <tr style="height: 24px;">
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Avaxim 80U</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Pháp</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">534.000</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">641.000</td>
          </tr>
          <tr style="height: 24px;">
          <td style="text-align: center; height: 48px;" rowspan="2">26</td>
          <td style="text-align: left; height: 48px;" rowspan="2">Thương hàn</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Typhim VI</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Pháp</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">281.000</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">337.000</td>
          </tr>
          <tr style="height: 24px;">
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Typhoid Vi</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Việt Nam</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">145.000</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">174.000</td>
          </tr>
          <tr style="height: 24px;">
          <td style="text-align: center; height: 24px;">27</td>
          <td style="text-align: left; height: 24px;">Các bệnh do Hib</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Quimihib</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Cu Ba</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">239.000</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">287.000</td>
          </tr>
          <tr style="height: 24px;">
          <td style="text-align: center; height: 24px;">28</td>
          <td style="text-align: left; height: 24px;">Tả</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">mORCVAX</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Việt Nam</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">115.000</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">138.000</td>
          </tr>
          <tr style="height: 24px;">
          <td style="text-align: center; height: 24px;">29</td>
          <td style="text-align: left; height: 24px;">Sốt vàng</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Stamaril</td>
          <td style="color: rgb(13, 102, 163); height: 24px; --darkreader-inline-bgcolor:#2b2d2f; --darkreader-inline-color:#5090bb;" bgcolor="#c9e5f7" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">Pháp</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">585.000</td>
          <td style="color: rgb(255, 255, 255); height: 24px; --darkreader-inline-bgcolor:#354d65; --darkreader-inline-color:#b4b2b0;" align="right" bgcolor="#6c93bc" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">702.000</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <p><strong>***<em> Giá vắc xin có thể thay đổi, Quý khách vui lòng liên hệ Tổng đài hoặc nhân viên tại Trung tâm để được tư vấn.</em></strong></p>
    <p><strong><em>*** Bảng giá trên được áp dụng từ ngày 15/07/2020, và đã bao gồm chi phí khám, tư vấn với Bác sĩ và các tiện ích đi kèm.</em></strong></p>
    <p><strong><em>*** Mời Quý khách tham khảo Dịch vụ vắc xin trọn gọi và Dịch vụ đặt giữ vắc xin theo yêu cầu tại đây:</em></strong></p>
  </div>
</div>
