<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="text-lg m-0 font-weight-bold text-uppercase text-center"><%= vaccine.name %></h4>
      <button class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="our-services container-fluid">
        <h7>SỐ MŨI TIÊM</h7>
        <hr class="sidebar-divider my-0 mb-3">
        <div class="service-row">
          <% vaccine.number_injections.each do |number| %>
            <li class="mb-2 ml-5"><%= number.name %>: <%= age_for_vaccine number.age %> </li>
          <% end %>
        </div>
        <br>
        <h7>THÔNG TIN</h7>
        <hr class="sidebar-divider my-0 mb-3">
        <p class="ml-2"><%= vaccine.content&.html_safe %></p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
    </div>
  </div>
</div>
