#button-statistic
  = link_to "Tuần", admin_root_path(type: "week"), method: :get, remote: true, class: "btn btn-primary"
  = link_to "Tháng",admin_root_path(type: "month"), method: :get, remote: true, class: "btn btn-primary"
  = link_to "Năm",admin_root_path(type: "year"), method: :get, remote: true, class: "btn btn-primary"
= column_chart account
